<div id="<%= dom_id flower %>">
  <p>
    <strong>Image:</strong>
    <%= flower.image %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= flower.name %>
  </p>

  <p>
    <strong>Scientific name:</strong>
    <%= flower.scientific_name %>
  </p>

  <p>
    <strong>Flower type:</strong>
    <%= flower.flower_type %>
  </p>

  <p>
    <strong>Blooming:</strong>
    <%= flower.blooming %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= flower.color %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= flower.description %>
  </p>

</div>
