<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cookie&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


<div id="<%= dom_id flower %>">


  <p>
      <img src="<%= flower.image %>" alt="flower image" height="180px">
  </p>

  <p>
    <strong>Nom :</strong>
    <%= flower.name %>
  </p>

  <p>
    <strong>Nom scientifique :</strong>
    <%= flower.scientific_name %>
  </p>

  <p>
    <strong>Longévité :</strong>
    <%= flower.flower_type %>
  </p>

  <p>
    <strong>Date de floraison :</strong>
    <%= flower.blooming %>
  </p>

  <p>
    <strong>Couleur(s) :</strong>
    <%= flower.color %cd pe>
  </p>

  <p>
    <strong>Description :</strong>
    <%= flower.description %>
  </p>

</div>

