<p style="color: green"><%= notice %></p>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cookie&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<main>
<header>
  <h1>PetalPedia</h1>

        <a href="/flowers">Accueil</a>
        <a href="/flowers/new">Ajouter une fleur</a>

  <div class="header_search">
    <%= search_form_for @q do |f| %>
      <div class="field">
        <%= f.label :name_cont, "Chercher une fleur :" %>
        <%= f.search_field :name_cont %>
      </div>
      <div class="actions">
        <%= f.submit "Rechercher", class: "btn btn-primary" %>
      </div>
    <% end %>
    </div>
</header>

<div id="flowers">
  <% @flowers.each do |flower| %>
    <div class="card">
      <img src="<%= flower.image %>" class="flower_image" alt="Image de fleur" height="180px">
        <div class="card-body">
          <p class="card-text"><%= flower.name %></p>
          <a><%= link_to "Découvrir cette fleur", flower %></a>
        </div>
    </div>
  <% end %>
</div>

<div class="add_flower">
<%= link_to "Ajouter une nouvelle fleur", new_flower_path %>

</main>