<p style="color: green"><%= notice %></p>

<%= render @flower %>

<div>
  <%= link_to "Edit this flower", edit_flower_path(@flower) %> |
  <%= link_to "Back to flowers", flowers_path %>

  <%= button_to "Destroy this flower", @flower, method: :delete %>
</div>

<footer>
    <br><p>Copyright © 2024 - PetalPedia</p>
    <nav>
        <a href="/flowers">Accueil</a>
        <a href="/about">À propos</a>
        <a href="/contact">Nous Contacter</a>
    </nav><br>
</footer>